# Enforce Unix newlines
* text=auto eol=lf

# Exclude unused files from release archive
/.devcontainer      export-ignore
/.vscode            export-ignore
/.gitignore         export-ignore
/.gitattributes     export-ignore
/.editorconfig      export-ignore
/Makefile           export-ignore
/README.md          export-ignore
/STEPS.md           export-ignore